.city_header{
    height: 750px;
    > h2 {
        font-size: 60px;
    }
    > p {
        font-size: 50px;
    }
    > div {
        font-weight: 500;
        font-size: 50px;
        height: 150px;
        background-color: darken($font-color,5%);
        border-top : 2px solid darken($font-color,20%);
    }
    span {
        line-height: 150px;
    }
}

.rules_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    height: 1000px ;
    h2 {
        font-size: 60px;
        width: 100%;
    }
    .rules {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 80%;
        height: 200px;
        background-color: $font-color;
        border-radius: 60px;
        font-size: 40px;
        font-weight: 700;
        @include box__shadow;
        
    }
    .number {
        position: absolute;
        top: 30%;
        left: -3%;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        color: white;
        background-color: $color-primary;

    }
    i{
        margin-right: 40px;
    }
}
.restaurants_container {
    height: 3000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    h2{
        font-size: 80px;
    }
    article {
        position: relative;
        height: 600px;
        border-radius: 30px;
        overflow: hidden;
        object-fit: cover;
        @include box__shadow;
    }
    img {
        max-width: 100%;
        
    }
    .description{
        position: absolute;
        width: 100%;
        top: 70%;
        border-radius:  0 0 30px 30px;
        background-color: white;
        font-size: 30px;
        text-align: start;
        color: black;
        line-height: 15px;
        padding-left: 20px;
    }
    h3{
        font-size: 50px;
        font-weight: 700;
    }
    h4{
        font-size: 40px;
        font-weight: 300;
    }
}
.new{
    position: absolute;
    height: 60px;
    width: 200px;
    font-size: 40px;
    background-color: $color-tertiary;
    top: 30px;
    right: 30px;

}
.fa-heart{
position: absolute;
right: 50px;
bottom: 100px;
font-size: 60px;
}
.full-heart {
    color: $color-primary;
    opacity: 0;
        &:hover{
        opacity: 1;
    }
}