.city_header{
    height: 900px;
    > h2 {
        font-size: 65px;
        margin-left: 150px;
        margin-right: 150px;
    }
    > p {
        font-size: 50px;
        font-weight: 300;
    }
    > div {
        font-weight: 500;
        font-size: 50px;
        height: 130px;
        background-color: darken($font-color,5%);
    }
    span {
        line-height: 150px;
        margin-left: 50px;
    }
}

.rules_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    height: 1000px ;
    margin-bottom: 100px;
    h2 {
        font-size: 65px;
        text-align: start;
        margin-left: 40px;
        margin-top: 120px;
        width: 100%;
    }
    .rules {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-start;
        position: relative;
        width: 85%;
        height: 180px;
        background-color: $font-color;
        border-radius: 60px;
        font-size: 40px;
        font-weight: 700;
        @include box__shadow; 
    }
    span{
        width: 90%;
        font-size: 42px ;
        text-align: left;
    }
    i{
        margin-right: 50px;
        margin-left: 100px;
    }
    .dusky{
        background-color: lighten($color-primary, 35%);
    }
    .fa-store{
        font-size: 43px;
        color: $color-primary;
        transform: scaleY(1.3);
    }
    .fa-mobile-alt{
        font-size: 58px;
        color: darken($font-color,50%);}
    .fa-list{
        font-size: 45px;
        transform: scaleY(1.3);
        color: darken($font-color,50%);
    }
    .number {
        position: absolute;
        top: 30%;
        left: -3%;
        width: 35px;
        height: 35px;
        padding: 15px;
        font-weight: 300;
        font-size: 95%;
        border-radius: 50%;
        color: white;
        background-color: $color-primary;
    }
}
.restaurants_container {
    height: 2800px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 150px;
    
    h2{
        font-size: 65px;
        width: 100%;
        margin-left: 40px;
        margin-top: 120px;
        text-align: start;
    }
    article {
        position: relative;
        width: 90%;
        height: 600px;
        border-radius: 30px;
        overflow: hidden;
        object-fit: cover;
        @include box__shadow;
    }
    img {
        max-width: 100%;
        
    }
    .description{
        position: absolute;
        width: 100%;
        top: 70%;
        border-radius:  0 0 30px 30px;
        background-color: white;
        font-size: 30px;
        text-align: start;
        color: black;
        line-height: 15px;
        padding-left: 20px;
    }
    h3{
        font-size: 50px;
        font-weight: 700;
    }
    h4{
        font-size: 40px;
        font-weight: 300;
    }
}
.fa-store{
    color: $color-primary;
}
.new{
    position: absolute;
    height: 70px;
    width: 200px;
    line-height:70px;
    font-size: 35px;
    font-weight: 500;
    color : darken($color-tertiary,40%);
    background-color: $color-tertiary;
    top: 30px;
    right: 30px;

}

