.fa-arrow-left{
    position: absolute;
    left: 20px;
    font-size: 20px;
    line-height: 60px!important;
    color: black;
}

.photo {
    position: relative;
    width: 100%;
    img{
    max-width: 100%;
    position: absolute;
    z-index: -1;
    top: -20px;
    right: 0px;
}
    .note_photo{
        top: -120px;
    }
}
.drop_down_menu{
    width: 95%;
    position: relative;
    padding: 10px;
    border-radius: 50px/50px 50px 0 0;
    margin-top: 210px;
    h2{
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        margin-left: 5px;
        font-family: 'Shrikhand', cursive;
    }
    .heart-2{
        position: absolute;
        z-index: 6;
        right: 0px;
        top: 0px;
        bottom: auto;
        height: auto;
        font-size: 17px;
        margin-right: 30px;
        line-height: 120px;
        .full-heart{
            right: 3px;
            bottom: 55px;
            height: 10px;
            opacity: 0;
        }
        .heart_appear{
            position: absolute;
            top: 50px;
            left: -5px;
            width: 25px;
            height: 20px;
            background-color:$font-color;
            z-index: -1;
        }
        }
    button{
        margin-top: 70px;
        margin-bottom: 70px;
    }
}

.container {
    height: 330px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
    h3{
        text-align: start;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .underline{
        width:40px;
        height: 3px;
        margin-top: 3px;
        background-color: darken($color-tertiary,10%);
    }
    .menu__picker{
        position: relative;
        width: 95%;
        background-color: white;
        height: 45px;
        border-radius: 18px;
        padding: 15px 3% 15px 2%;
        text-align: start;
        overflow: hidden;
        cursor: pointer;
        @include box__shadow;
        &:hover .checked{
            animation: checked 2s;
        }
        &:hover .text__price{
            animation: reduce 2s;
        }
        &:hover .price{
            animation: move_price 2s;
        }
        &:hover .fa-check-circle{
            animation: turn-around 2s;
        }
    }
    .text__price{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
        margin-right: 0;
        font-size: 16px;
        margin-top: 0; margin-bottom: 0;
        .price{
            position: absolute;
            right: 20px;
            font-weight: bolder;
        }
    }

    h4{
        font-size: 20px;
        margin-top: 0; margin-bottom: 0; 
    }
}
.high__size{
    height: 420px;
}

