.fa-arrow-left{
    position: absolute;
    left: 20px;
    font-size: 50px;
    line-height: 110px;
    color: black;
}

.photo {
    position: relative;
    img{
    max-width: 100%;
    position: absolute;
    z-index: -1;
    top: -250px;
    right: 0px;
}
}
.drop_down_menu{
    width: 95%;
    position: relative;
    padding: 24.5px;
    /*border-radius: 50px 50px 0 0;*/
    border-radius: 80px/80px 80px 0 0;
    margin-top: 600px;
    h2{
        display: flex;
        justify-content: space-between;
        font-size: 80px;
        font-family: 'Shrikhand', cursive;
    }
    .heart-2{
        position: absolute;
        z-index: 6;
        right: 50px;
        top: 100px;
        bottom: auto;
        height: auto;
        font-size: 40px;
        margin-right: 30px;
        line-height: 120px;
        &:hover .full-heart {
            animation: fill_heart-2 1s;}
        .full-heart{
            right: 7px;
            bottom: 47px;
            font-size: 60px;
        }
        }
    button{
        margin-top: 70px;
        margin-bottom: 70px;
    }
}

.container {
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
    h3{
        text-align: start;
        font-size: 50px;
        font-weight: 300;
        margin-bottom: -10px;
    }
    .underline{
        width: 100px;
        height: 5px;
        background-color: darken($color-tertiary,20%);
    }
    .menu__picker{
        position: relative;
        width: 95%;
        background-color: white;
        height: 130px;
        border-radius: 35px;
        padding: 40px 3% 20px 2%;
        text-align: start;
        overflow: hidden;
        cursor: pointer;
        @include box__shadow;
        &:hover .checked{
            animation: checked 2s;
        }
        &:hover .text__price{
            animation: reduce 2s;
        }
        &:hover .price{
            animation: move_price 2s;
        }
        &:hover .fa-check-circle{
            animation: turn-around 2s;
        }
    }
    .text__price{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
        margin-right: 0;
        font-size: 42px;
        margin-top: 0; margin-bottom: 0;
        .price{
            position: absolute;
            right: 20px;
            font-weight: bolder;
        }
    }

    h4{
        font-size: 50px;
        margin-top: 0; margin-bottom: 0; 
    }
}
.high__size{
    height: 1000px;
}

