.fa-arrow-left{
    position: absolute;
    left: 20px;
    font-size: 50px;
    line-height: 110px;
    color: black;
}

.photo {
    position: absolute;
    img{
    max-width: 100%;
}
}
.drop_down_menu{
    width: 95%;
    position: relative;
    padding: 24.5px;
    border-radius: 50px 50px 0 0;
    margin-top: 600px;
    h2{
        display: flex;
        justify-content: space-between;
        font-size: 80px;
        font-family: 'Shrikhand', cursive;
    }
    .fa-heart{
        right: 50px;
        top: 90px;
        height: 50%;
        font-size: 60px;
        line-height: 120px;
        }
    button{
        margin-top: 70px;
        margin-bottom: 70px;
    }
}

.container {
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    
    h3{
        text-align: start;
        font-size: 60px;
        margin-bottom: -10px;
    }
    .underline{
        width: 100px;
        height: 5px;
        background-color: $color-tertiary;
    }
    .menu__picker{
        width: 95%;
        background-color: white;
        height: 150px;
        border-radius: 35px;
        padding: 40px 3% 20px 2%;
        text-align: start;
        @include box__shadow;
    }
    .text__price{
        display: flex;
        justify-content: space-between;
        font-size: 42px;
        margin-top: 0; margin-bottom: 0;    
    }
    .price{
        font-weight: bolder;
    }
    h4{
        font-size: 50px;
        margin-top: 0; margin-bottom: 0; 
    }
}
.high__size{
    height: 1200px;
}