.checked {
    position: absolute;
    width: 0;
    height: 100%;
    right: 0;
    top: 0;
    border-radius: 0 20px 20px 0;
    background-color: $color-tertiary;
    /*@include box__shadow-checked;*/
    .fa-check-circle{
        padding: 65px;
        font-size: 70px;
        color: white;
        transform-origin: center;
    }
}
@keyframes checked {
    from{width: 0;}
    to{width: 20%}
}
@keyframes turn-around {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes move_price {
    from{right: 20px;}
    to{right: 210px;}
}
@keyframes reduce {
    from{width: 90%;}
    to{width: 67%;}
}


@media only screen and (min-width: 768px) and (max-width : 1100px)  {
/*ANIMATION CHECKED */
.checked {
    position: absolute;
    width: 0;
    right: 0;
    top: 0;
    border-radius: 0 20px 20px 0;
    background-color: $color-tertiary;
    /*@include box__shadow-checked;*/
    .fa-check-circle{
        padding: 40px;
        font-size: 40px;
        color: white;
        transform-origin: center;
    }
}}

@media only screen and (min-width: 1101px) and (max-width : 1400px)  {
    /*ANIMATION CHECKED */
    .checked {
        position: absolute;
        width: 0;
        right: 0;
        top: 0;
        border-radius: 0 20px 20px 0;
        background-color: $color-tertiary;
        /*@include box__shadow-checked;*/
        .fa-check-circle{
            padding: 40px;
            font-size: 40px;
            color: white;
            transform-origin: center;
        }
    }}

@media only screen and (min-width: 1401px) {
    /*ANIMATION CHECKED */
    .checked {
        position: absolute;
        width: 0;
        right: 0;
        top: 0;
        border-radius: 0 20px 20px 0;
        background-color: $color-tertiary;
        /*@include box__shadow-checked;*/
        .fa-check-circle{
            padding: 40px;
            font-size: 40px;
            color: white;
            transform-origin: center;
        }
    }}