
.fa-heart{
    position: absolute;
    cursor: pointer;
    right: 0px;
    bottom: 50px;
    font-size: 15px;
    color: darken($font-color,60%);
    transform: scale(1.5,1.8);
    &:hover .heart_appear {
        animation : put_up 1.2s;}
        &:hover .full-heart{
            animation : fill_heart 1.2s;
        }
    }
.full-heart {
    height: 9px;
    right: 3px;
    bottom: 4px;
    z-index: -1;
    transform: scale(1.5,1.6);
}
.empty-heart{
    margin-right: 40px;}
    
 .heart_appear{
        position: absolute;
        top: 0px;
        left: -2px;
        width: 25px;
        height: 20px;
        background-color: rgb(255, 255, 255);
        z-index: -1;
    }
.heart-2 {
    &:hover .heart_appear{
        animation : put_up2 1.2s;
    }
    &:hover .full-heart{
        animation : fill_heart 1.4s;
    }
}

@keyframes fill_heart{
    0%{
opacity: 1;
    }
    100%{
opacity: 1;
    }
}

@keyframes put_up{
    0%{
    height: 10px;
    }

    100%{
    height: 1px;
    }
}
/*-----MEDIA QUERIES ----------------*/
@keyframes put_up2{
    0%{
    height: 20px;

    }

    100%{
    height: 1px;

    }
}
@keyframes put_up_3{
    0%{
    height: 30px;

    }

    100%{
    height: 1px;

    }
}
