
.fa-heart{
    position: absolute;
    cursor: pointer;
    right: 50px;
    bottom: 100px;
    font-size: 38px;
    color: darken($font-color,60%);
    transform: scale(1.5,1.8);
    &:hover .full-heart {
        animation: fill_heart 1s;}
    }
.full-heart {
    font-size: 27px;
    right: 5px;
    bottom: 6px;
    color: $color-primary;
    opacity: 0;
    transform: scale(1.5,1.6);
    /*&:hover {
        animation: fill_heart 1s;
     }*/
}
.empty-heart{
    margin-right: 40px;
}
@keyframes fill_heart{
    0%{
font-size: 10px;opacity: 0;
    }
    50%{
        font-size: 26px;opacity: 1;
    }
    100%{
        font-size: 26px;opacity: 1;
    }
}

@keyframes fill_heart-2{
    0%{
font-size: 10px;opacity: 0;
    }
    60%{
        font-size: 26px;opacity: 1;
    }
    100%{
        font-size: 26px;opacity: 1;
    }
}

/*-----MEDIA QUERIES ----------------*/
/*animation version bureau*/
@keyframes fill_heart_desktop{
    0%{
font-size: 10px;opacity: 0;
    }
    50%{
        font-size: 17px;opacity: 1;
    }
    100%{
        font-size: 17px;opacity: 1;
    }
}

/*animation version tablet*/
@keyframes fill_heart_tablet{
    0%{
font-size: 10px;opacity: 0;
    }
    50%{
        font-size: 11px;opacity: 1;
    }
    100%{
        font-size: 11px;opacity: 1;
    }
}

@keyframes fill_heart-2_tablet{
    0%{
font-size: 10px;opacity: 0;
    }
    60%{
        font-size: 16px;opacity: 1;
    }
    100%{
        font-size: 16px;opacity: 1;
    }
}
@media only screen and (min-width: 768px) and (max-width : 1099px)  {

    .fa-heart{
        bottom: 30px;
        font-size: 18px;
        color: darken($font-color,60%);
        transform: scale(1.5,1.8);
        &:hover .full-heart {
            animation: fill_heart_tablet 1s;}
        }
    .full-heart {
        right: 4px;
        bottom: 3px;
        color: $color-primary;
        opacity: 0;
        transform: scale(1.5,1.6);
    }
}

@media only screen and (min-width: 1100px) {

    .fa-heart{
        bottom: 50px;
        font-size: 28px;
        color: darken($font-color,60%);
        transform: scale(1.5,1.8);
        &:hover .full-heart {
            animation: fill_heart_desktop 1s;}
        }
    .full-heart {
        right: 5px;
        bottom: 6px;
        color: $color-primary;
        opacity: 0;
        transform: scale(1.5,1.6);
    }
}


