
.fa-heart{
    position: absolute;
    cursor: pointer;
    right: 50px;
    bottom: 100px;
    font-size: 38px;
    color: darken($font-color,60%);
    transform: scale(1.5,1.8);
    &:hover .heart_appear {
        animation : put_up 2s;}
    }
.full-heart {
    height: 21px;
    right: 8px;
    bottom: 8px;
    color: $color-primary;
    opacity: 1;
    z-index: -1;
    transform: scale(1.5,1.6);
}
.empty-heart{
    margin-right: 40px;}
    
 .heart_appear{
        position: absolute;
        top: 0;
        width: 35px;
        height: 30px;
        background-color: white;
        z-index: -1;
    }

@keyframes fill_heart{
    0%{
font-size: 10px;opacity: 0;
    }
    50%{
        font-size: 26px;opacity: 1;
    }
    100%{
        font-size: 26px;opacity: 1;
    }
}

@keyframes fill_heart-2{
    0%{
font-size: 10px;opacity: 0;
    }
    60%{
        font-size: 26px;opacity: 1;
    }
    100%{
        font-size: 26px;opacity: 1;
    }
}

/*-----MEDIA QUERIES ----------------*/
/*animation version bureau*/
@keyframes fill_heart_desktop{
    0%{
        font-size: 10px;opacity: 0;
    }
    50%{
        font-size: 17px;opacity: 1;
    }
    100%{
        font-size: 17px;opacity: 1;
    }
}

/*animation version tablet*/
@keyframes fill_heart_tablet{
    0%{
font-size: 10px;opacity: 0;
    }
    50%{
        font-size: 11px;opacity: 1;
    }
    100%{
        font-size: 11px;opacity: 1;
    }
}

@keyframes fill_heart-2_tablet{
    0%{
font-size: 10px;opacity: 0;
    }
    60%{
        font-size: 16px;opacity: 1;
    }
    100%{
        font-size: 16px;opacity: 1;
    }
}

@keyframes put_up{
    0%{
    height: 30px;
    }

    100%{
    height: 2px;
    }
}

