.load-spinner{
    position: absolute;
    display: flex;
    opacity: 0;
    justify-content: center;
    z-index: -1;
    width: 100%;
    height : 100%;
    background-color: white;
    overflow: hidden;
    animation: loadSpinner__font 2.8s;
    p{
        position: absolute;
        font-size: 50px;
        top: 25%;
    }
}
.load-spinner__rect {
    position: relative;
    display: flex;
    justify-content: center;
    height: 300px;
    align-self: center;
    background-color: white;
    img{
        position: relative;
        height: 300px;
        background-color: transparent;
        z-index: 4;
    }
    .plate_circle-in{
        position: absolute;
        align-self: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: $color-secondary;
        z-index: 3;
        opacity:0;
        animation: loadSpinner 3s 1600ms;
    }
    .plate_circle-out{
        position: absolute;
        align-self: center;
        width: 210px;
        height: 210px;
        border-radius: 50%;
        background-color: $color-secondary;
        z-index: 2;
        opacity:0;
        animation: loadSpinner 3s 2200ms;
        
    }
    .fork_object{
        position: absolute;
        align-self: center;
        width: 30px;
        height: 150px;
        left: 30px;
        top: 130px;
        z-index: 3;
        background-color: $color-tertiary;
        opacity:0;
        animation: loadSpinner 3s 400ms ;
    }
    .fork_object-top{
        position: absolute;
        align-self: center;
        width: 60px;
        height: 20px;
        left: 10px;
        top: 100px;
        z-index: 3;
        background-color: $color-tertiary;
        opacity:0;
        animation: loadSpinner 3s 400ms ;
    }
    .knife_object{
        position: absolute;
        align-self: center;
        width: 30px;
        height: 230px;
        right: 20px;
        top: 40px;
        z-index: 3;
        background-color: $color-tertiary;
        opacity:0;
        animation: loadSpinner 3s 1000ms ;
    }
}
 
@keyframes loadSpinner{
    0%{ opacity:0;}
    1%{opacity:1;}
    100%{opacity:1;}
}

/*fond blanc pendant le chargement de la page*/
@keyframes loadSpinner__font{
   0%{ opacity: 1;z-index: 1;}
   100%{opacity: 1;z-index: 1;}
   }
/*empecher de bouger la fenêtre pendant le chargement*/
@keyframes body_loading{
    0%{ overflow: hidden;}
   99%{overflow: hidden;}
}
