@charset "UTF-8";
/*--------COLOR-------*/
/*-----SHADOW------*/
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  animation: body_loading 3.5s;
}

a {
  width: 90%;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

header {
  text-align: center;
}
header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 8vw;
  margin: 0;
}

section {
  width: 100%;
  background-color: #F2F2F2;
  text-align: center;
}

article {
  box-sizing: content-box;
  width: 100%;
}

footer {
  background-color: black;
  color: white;
  padding: 5% 0 5% 5%;
  font-size: 4vw;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 4vw;
}
footer a:link {
  color: white;
}

button {
  background: radial-gradient(#FF79DA, #9356DC);
  border-radius: 60px;
  color: white;
  font-size: 40px;
  width: 560px;
  height: 120px;
  cursor: pointer;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
}
button:hover {
  opacity: 0.7;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 30px 18px rgba(0, 0, 0, 0.22);
}

.city_header {
  height: 750px;
}
.city_header > h2 {
  font-size: 60px;
}
.city_header > p {
  font-size: 50px;
}
.city_header > div {
  font-weight: 500;
  font-size: 50px;
  height: 150px;
  background-color: #e5e5e5;
  border-top: 2px solid #bfbfbf;
}
.city_header span {
  line-height: 150px;
  margin-left: 50px;
}

.rules_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  height: 1000px;
}
.rules_container h2 {
  font-size: 60px;
  width: 100%;
}
.rules_container .rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 80%;
  height: 200px;
  background-color: #F2F2F2;
  border-radius: 60px;
  font-size: 40px;
  font-weight: 700;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
}
.rules_container .dusky {
  background-color: #f2eafb;
}
.rules_container .number {
  position: absolute;
  top: 30%;
  left: -3%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
}
.rules_container i {
  margin-right: 40px;
}

.restaurants_container {
  height: 3000px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurants_container h2 {
  font-size: 80px;
}
.restaurants_container article {
  position: relative;
  height: 600px;
  border-radius: 30px;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
}
.restaurants_container img {
  max-width: 100%;
}
.restaurants_container .description {
  position: absolute;
  width: 100%;
  top: 70%;
  border-radius: 0 0 30px 30px;
  background-color: white;
  font-size: 30px;
  text-align: start;
  color: black;
  line-height: 15px;
  padding-left: 20px;
}
.restaurants_container h3 {
  font-size: 50px;
  font-weight: 700;
}
.restaurants_container h4 {
  font-size: 40px;
  font-weight: 300;
}

.fa-store {
  color: #9356DC;
}

.new {
  position: absolute;
  height: 60px;
  width: 200px;
  font-size: 40px;
  background-color: #99E2D0;
  top: 30px;
  right: 30px;
}

.fa-heart {
  position: absolute;
  right: 50px;
  bottom: 100px;
  font-size: 60px;
}

.full-heart {
  color: #9356DC;
  opacity: 0;
}
.full-heart:hover {
  opacity: 1;
}

.fa-arrow-left {
  position: absolute;
  left: 20px;
  font-size: 50px;
  line-height: 110px;
  color: black;
}

.photo {
  position: absolute;
}
.photo img {
  max-width: 100%;
}

.drop_down_menu {
  width: 95%;
  position: relative;
  padding: 24.5px;
  border-radius: 50px 50px 0 0;
  margin-top: 600px;
}
.drop_down_menu h2 {
  display: flex;
  justify-content: space-between;
  font-size: 80px;
  font-family: "Shrikhand", cursive;
}
.drop_down_menu .fa-heart {
  right: 50px;
  top: 90px;
  height: 50%;
  font-size: 60px;
  line-height: 120px;
}
.drop_down_menu button {
  margin-top: 70px;
  margin-bottom: 70px;
}

.container {
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.container h3 {
  text-align: start;
  font-size: 60px;
  margin-bottom: -10px;
}
.container .underline {
  width: 100px;
  height: 5px;
  background-color: #99E2D0;
}
.container .menu__picker {
  position: relative;
  width: 95%;
  background-color: white;
  height: 150px;
  border-radius: 35px;
  padding: 40px 3% 20px 2%;
  text-align: start;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
}
.container .menu__picker:hover .checked {
  animation: checked 2s;
}
.container .menu__picker:hover .text__price {
  animation: reduce 2s;
}
.container .menu__picker:hover .price {
  animation: move_price 2s;
}
.container .menu__picker:hover .fa-check-circle {
  animation: turn-around 2s;
}
.container .text__price {
  display: block;
  width: 80%;
  margin-right: 0;
  font-size: 42px;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .text__price .arrangement {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .text__price .price {
  position: absolute;
  right: 20px;
  font-weight: bolder;
}
.container h4 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.high__size {
  height: 1200px;
}

.load-spinner {
  position: absolute;
  display: flex;
  opacity: 0;
  justify-content: center;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  animation: loadSpinner__font 2.8s;
}
.load-spinner p {
  position: absolute;
  font-size: 50px;
  top: 25%;
}

.load-spinner__rect {
  position: relative;
  display: flex;
  justify-content: center;
  height: 300px;
  align-self: center;
  background-color: white;
}
.load-spinner__rect img {
  position: relative;
  height: 300px;
  background-color: transparent;
  z-index: 4;
}
.load-spinner__rect .plate_circle-in {
  position: absolute;
  align-self: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FF79DA;
  z-index: 3;
  opacity: 0;
  animation: loadSpinner 3s 1600ms;
}
.load-spinner__rect .plate_circle-out {
  position: absolute;
  align-self: center;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-color: #FF79DA;
  z-index: 2;
  opacity: 0;
  animation: loadSpinner 3s 2200ms;
}
.load-spinner__rect .fork_object {
  position: absolute;
  align-self: center;
  width: 30px;
  height: 150px;
  left: 30px;
  top: 130px;
  z-index: 3;
  background-color: #99E2D0;
  opacity: 0;
  animation: loadSpinner 3s 400ms;
}
.load-spinner__rect .fork_object-top {
  position: absolute;
  align-self: center;
  width: 60px;
  height: 20px;
  left: 10px;
  top: 100px;
  z-index: 3;
  background-color: #99E2D0;
  opacity: 0;
  animation: loadSpinner 3s 400ms;
}
.load-spinner__rect .knife_object {
  position: absolute;
  align-self: center;
  width: 30px;
  height: 230px;
  right: 20px;
  top: 40px;
  z-index: 3;
  background-color: #99E2D0;
  opacity: 0;
  animation: loadSpinner 3s 1000ms;
}

@keyframes loadSpinner {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/*fond blanc pendant le chargement de la page*/
@keyframes loadSpinner__font {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
/*empecher de bouger la fenêtre pendant le chargement*/
@keyframes body_loading {
  0% {
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
}
.checked {
  position: absolute;
  width: 0;
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  /*@include box__shadow-checked;*/
}
.checked .fa-check-circle {
  padding: 65px;
  font-size: 70px;
  color: white;
  transform-origin: center;
}

@keyframes checked {
  from {
    width: 0;
  }
  to {
    width: 20%;
  }
}
@keyframes turn-around {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes move_price {
  from {
    right: 20px;
  }
  to {
    right: 210px;
  }
}
@keyframes reduce {
  from {
    width: 100%;
  }
  to {
    width: 67%;
  }
}

/*# sourceMappingURL=style.css.map */
