
/*--------COLOR-------*/
$font-color :#F2F2F2;
$color-primary: #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;

/*-----SHADOW------*/
@mixin box__shadow {
box-shadow: 0 14px 45px rgba(0,0,0,0.25), 0 10px 18px rgba(0,0,0,0.22);}
@mixin box__shadow-checked {
    box-shadow: 0 14px 40px rgba(0,0,0,0.25), 0 10px 18px rgba(0,0,0,0.22);}
@mixin button__shadow {
    box-shadow: 0 14px 45px rgba(0,0,0,0.25), 0 10px 18px rgba(0,0,0,0.22);}
@mixin button__shadow__hover {
    box-shadow: 0 14px 45px rgba(0,0,0,0.25), 0 30px 18px rgba(0,0,0,0.22);}