*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    animation: body_loading 3.5s;
    a{
        color: black;
    }
}
a{
    cursor: pointer;
}
a:link 
{ 
 text-decoration:none; 
} 

header{
    text-align: center;
    line-height: 150px;
    height: 150px;
    margin-bottom: 10px;
    box-shadow: 0px 9px 14px -1px darken($font-color,20%);
    h1{
        font-family: 'Shrikhand', cursive;
        font-size: 8vw;
        margin: 0;
    }
}
section{
    width: 100%;
    background-color: $font-color;
    text-align: center;
}
article{
box-sizing: content-box;
width: 100%;
}
footer{
    background-color: darken($font-color,70%);
    color: white;
    padding: 2% 0 5% 5%;
    font-size: 4vw;
    h3{
        font-family: 'Shrikhand', cursive;
        font-size: 4.5vw;
    }
    a{
        color: white;
    }
    a:link 
    { 
     color: white; 
    }
    i{
        padding-right: 25px;
    }
}

