
button {
    background: $color-primary;
    background: linear-gradient(355deg, $color-primary 18%, $color-secondary 100%); 
    border-radius: 70px;
    color: white;
    font-size: 45px;
    width: 600px;
    height: 140px;
    cursor: pointer;
    @include button__shadow;
    &:hover{
        opacity: 0.7;
        @include button__shadow__hover;
    }
}
