@import "./utils/variables.scss";
@import "./utils/functions.scss";
@import "./utils/mixins.scss";
@import "./utils/placeholders.scss";
@import "./base.scss";
@import "./components.scss";
@import "./layouts.scss";
@import "./pages/home.scss";
@import "./pages/restaurants.scss";
@import "./animations/load_spinner.scss";
@import "./animations/add_menu.scss";
@import "./animations/heart.scss";
@import "./animations/cards_menu.scss";
